In [65]:
import pandas as pd

In [66]:
data = pd.read_csv("./data.csv")

data.head()

C:\Users\Asus\AppData\Local\Temp\ipykernel_4616\2855920093.py:1: DtypeWarning: Columns (35,55) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv("./data.csv")

,NO,Current Date,Eligible,Every Day,Smoking Month,Smoking Year,Age,Uses App,Stop Date 30,Serious Quit Attempt,...,Year Month Day Quit Date 7d,Year Month Day Quit Date 1m,Year Month Day Quit Date 6m,Interval Target Quit Date to Quit Day 7 Days,Interval Base to Quit Day 7 Days,Interval Base to Quit Day 7 01,Interval Target Quit Date to Quit Day 1 Month,Interval Target Quit Date to Quit Day 6 Months,Uses Substitutes 07x,Unnamed: 149
0,0,2.019040e+11,Y,1,1.0,1997.0,37,1,20190415,1,...,159430.0,NaN,NaN,1.0,6.0,1.0,NaN,NaN,0.0,NaN
1,1,2.019040e+11,Y,1,7.0,1997.0,41,1,20190410,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
2,2,2.019040e+11,Y,1,1.0,2012.0,25,1,20190410,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,2.019040e+11,Y,1,1.0,2004.0,31,1,20190410,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,2.019040e+11,Y,1,2.0,1995.0,60,1,20190413,1,...,NaN,153103.0,NaN,NaN,NaN,NaN,-6324.0,NaN,0.0,NaN

In [67]:
data.drop(columns=['NO'],inplace=True)

In [70]:
predictive_features = [
    "Cigarettes Per Day",                # Jumlah rokok yang dihisap per hari
    "Minutes",                           # Waktu untuk rokok pertama
    "Uses Substitutes",                  # Penggunaan obat nikotin
    "Electronic Cigarette Use",          # Penggunaan rokok elektronik
    "Gender",                            # Jenis kelamin
    "Age",                               # Usia
    "Smoking Interval Years",            # Jumlah tahun merokok
    "Depressed",                         # Status depresi
    "Smokes Other",                      # Penggunaan produk tembakau lainnya
    "No Pleasure",               	     # Hilangnya kesenangan terhadap sesuatu 
    'Smoked Last 7 Days', 
    'Smoked After 7d', 
    'Smoked After 1m', 
    'Smoked After 6m', 
]

data_predict = data[predictive_features]
data_predict.head()

,Cigarettes Per Day,Minutes,Uses Substitutes,Electronic Cigarette Use,Gender,Age,Smoking Interval Years,Depressed,Smokes Other,No Pleasure,Smoked Last 7 Days,Smoked After 7d,Smoked After 1m,Smoked After 6m
0,20.0,5.0,2.0,3.0,1.0,37,22.246575,2.0,4.0,2.0,2.0,1.0,NaN,NaN
1,17.0,60.0,2.0,4.0,2.0,41,21.750685,2.0,4.0,2.0,1.0,3.0,3.0,NaN
2,10.0,20.0,2.0,1.0,2.0,25,7.238356,1.0,2.0,2.0,NaN,NaN,NaN,NaN
3,10.0,60.0,2.0,4.0,NaN,31,15.243836,1.0,4.0,2.0,NaN,NaN,NaN,NaN
4,13.0,90.0,1.0,1.0,1.0,60,24.164384,1.0,3.0,1.0,1.0,2.0,1.0,2.0

In [71]:
# Daftar kolom yang harus diperiksa untuk nilai null
columns_to_check = [
    'Smoked Last 7 Days',
    'Smoked After 7d', 
    'Smoked After 1m', 
    'Smoked After 6m'
]

# Menghapus baris yang memiliki nilai null di kolom-kolom yang disebutkan
data_cleaned = data_predict.dropna(subset=columns_to_check)

# Menampilkan 5 baris pertama dari data yang telah dibersihkan
data_cleaned = data_cleaned.reset_index()

data_cleaned.drop(columns=['index'],inplace=True)

data_cleaned.head()

,Cigarettes Per Day,Minutes,Uses Substitutes,Electronic Cigarette Use,Gender,Age,Smoking Interval Years,Depressed,Smokes Other,No Pleasure,Smoked Last 7 Days,Smoked After 7d,Smoked After 1m,Smoked After 6m
0,13.0,90.0,1.0,1.0,1.0,60,24.164384,1.0,3.0,1.0,1.0,2.0,1.0,2.0
1,6.0,150.0,2.0,4.0,2.0,35,18.243836,1.0,4.0,1.0,2.0,1.0,2.0,3.0
2,15.0,15.0,2.0,1.0,1.0,24,7.912329,2.0,1.0,2.0,1.0,3.0,3.0,3.0
3,20.0,10.0,2.0,1.0,2.0,32,21.087671,2.0,3.0,2.0,2.0,1.0,1.0,1.0
4,20.0,5.0,2.0,1.0,2.0,50,34.112329,2.0,4.0,2.0,1.0,2.0,3.0,3.0

In [82]:
# Mengecek jumlah nilai yang hilang di setiap kolom
missing_values = data_cleaned.isnull().sum()
missing_values

Cigarettes Per Day          4
Minutes                     9
Uses Substitutes            2
Electronic Cigarette Use    4
Gender                      0
Age                         0
Smoking Interval Years      4
Depressed                   2
Smokes Other                4
No Pleasure                 3
Smoked Last 7 Days          0
Smoked After 7d             0
Smoked After 1m             0
Smoked After 6m             0
dtype: int64

In [83]:
# # Mengisi nilai yang hilang dengan median untuk kolom numerik
# data_predict['Cigarettes Per Day'].fillna(data_predict['Cigarettes Per Day'].median(), inplace=True)
# data_predict['Minutes'].fillna(data_predict['Minutes'].median(), inplace=True)
# data_predict['Uses Substitutes'].fillna(data_predict['Uses Substitutes'].median(), inplace=True)
# data_predict['Electronic Cigarette Use'].fillna(data_predict['Electronic Cigarette Use'].median(), inplace=True)
# data_predict['Smoking Interval Years'].fillna(data_predict['Smoking Interval Years'].median(), inplace=True)
# data_predict['Depressed'].fillna(data_predict['Depressed'].median(), inplace=True)
# data_predict['Smokes Other'].fillna(data_predict['Smokes Other'].median(), inplace=True)
# data_predict['No Pleasure'].fillna(data_predict['No Pleasure'].median(), inplace=True)

# # Mengisi nilai yang hilang dengan modus untuk kolom kategori
# data_predict['Gender'].fillna(data_predict['Gender'].mode()[0], inplace=True)

In [84]:
# data_predict.info()

In [85]:
# data_predict.head()

In [86]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
import numpy as np

# Impute missing values using RandomForestRegressor
imputer = IterativeImputer(estimator=RandomForestRegressor(n_estimators=10), max_iter=10, random_state=0)

# Fit and transform the data
data_imputed = imputer.fit_transform(data_cleaned)

# Convert the imputed data back to a DataFrame
data_imputed = pd.DataFrame(data_imputed, columns=data_cleaned.columns)

# Verify if there are any remaining missing values
data_imputed.isnull().sum()

c:\Users\Asus\anaconda3\envs\py3.11-TF2.0\Lib\site-packages\sklearn\impute\_iterative.py:800: ConvergenceWarning: [IterativeImputer] Early stopping criterion not reached.
  warnings.warn(

Cigarettes Per Day          0
Minutes                     0
Uses Substitutes            0
Electronic Cigarette Use    0
Gender                      0
Age                         0
Smoking Interval Years      0
Depressed                   0
Smokes Other                0
No Pleasure                 0
Smoked Last 7 Days          0
Smoked After 7d             0
Smoked After 1m             0
Smoked After 6m             0
dtype: int64

In [88]:
data_imputed.to_csv("./tiga-label-123.csv",index=False)

In [79]:
data_imputed['Smoked After 7d'].replace(3.0,2.0,inplace=True)
data_imputed['Smoked After 1m'].replace(3.0,2.0,inplace=True)
data_imputed['Smoked After 6m'].replace(3.0,2.0,inplace=True)

In [80]:
data_imputed.head()

,Cigarettes Per Day,Minutes,Uses Substitutes,Electronic Cigarette Use,Gender,Age,Smoking Interval Years,Depressed,Smokes Other,No Pleasure,Smoked Last 7 Days,Smoked After 7d,Smoked After 1m,Smoked After 6m
0,0.216667,0.107143,1.0,1.0,1.0,0.732143,0.424679,1.0,3.0,1.0,1.0,2,1,2
1,0.100000,0.178571,2.0,4.0,2.0,0.285714,0.316238,1.0,4.0,1.0,2.0,1,2,2
2,0.250000,0.017857,2.0,1.0,1.0,0.089286,0.127007,2.0,1.0,2.0,1.0,2,2,2
3,0.333333,0.011905,2.0,1.0,2.0,0.232143,0.368326,2.0,3.0,2.0,2.0,1,1,1
4,0.333333,0.005952,2.0,1.0,2.0,0.553571,0.606885,2.0,4.0,2.0,1.0,2,2,2

In [76]:
label_features = [
    'Smoked After 7d', 
    'Smoked After 1m', 
    'Smoked After 6m' ]

for i in label_features:
    data_imputed[i] = data_imputed[i].astype(int)

In [77]:
data_imputed.head()

,Cigarettes Per Day,Minutes,Uses Substitutes,Electronic Cigarette Use,Gender,Age,Smoking Interval Years,Depressed,Smokes Other,No Pleasure,Smoked Last 7 Days,Smoked After 7d,Smoked After 1m,Smoked After 6m
0,13.0,90.0,1.0,1.0,1.0,60.0,24.164384,1.0,3.0,1.0,1.0,2,1,2
1,6.0,150.0,2.0,4.0,2.0,35.0,18.243836,1.0,4.0,1.0,2.0,1,2,3
2,15.0,15.0,2.0,1.0,1.0,24.0,7.912329,2.0,1.0,2.0,1.0,3,3,3
3,20.0,10.0,2.0,1.0,2.0,32.0,21.087671,2.0,3.0,2.0,2.0,1,1,1
4,20.0,5.0,2.0,1.0,2.0,50.0,34.112329,2.0,4.0,2.0,1.0,2,3,3

In [81]:
data_imputed.to_csv("./tiga-label.csv",index=False)

In [78]:
from sklearn.preprocessing import MinMaxScaler

# Inisialisasi scaler
scaler = MinMaxScaler()

# Fitur yang akan dinormalisasi
features_to_normalize = ['Cigarettes Per Day', 'Minutes', 'Smoking Interval Years','Age']

# Normalisasi
data_imputed[features_to_normalize] = scaler.fit_transform(data_imputed[features_to_normalize])

# Menampilkan data_imputed yang telah dinormalisasi
data_imputed.head()

,Cigarettes Per Day,Minutes,Uses Substitutes,Electronic Cigarette Use,Gender,Age,Smoking Interval Years,Depressed,Smokes Other,No Pleasure,Smoked Last 7 Days,Smoked After 7d,Smoked After 1m,Smoked After 6m
0,0.216667,0.107143,1.0,1.0,1.0,0.732143,0.424679,1.0,3.0,1.0,1.0,2,1,2
1,0.100000,0.178571,2.0,4.0,2.0,0.285714,0.316238,1.0,4.0,1.0,2.0,1,2,3
2,0.250000,0.017857,2.0,1.0,1.0,0.089286,0.127007,2.0,1.0,2.0,1.0,3,3,3
3,0.333333,0.011905,2.0,1.0,2.0,0.232143,0.368326,2.0,3.0,2.0,2.0,1,1,1
4,0.333333,0.005952,2.0,1.0,2.0,0.553571,0.606885,2.0,4.0,2.0,1.0,2,3,3

In [36]:
def determine_label(row):
    if row['Smoked Last 7 Days'] == 1 or row['Smoked After 7d'] == 1:
        return 1
    elif row['Smoked Last 7 Days 1m'] == 1 or row['Smoked Last 4 Weeks 1m'] == 1 or row['Smoked After 1m'] == 1:
        return 2
    elif row['Smoked Last 7 Days 6m'] == 1 or row['Smoked Last 4 Weeks 6m'] == 1 or row['Smoked After 6m'] == 1:
        return 3
    else:
        return 0
    
# Terapkan fungsi determine_label untuk setiap baris di dataset
y = data_imputed.apply(determine_label, axis=1)

In [ ]:
def determine_label(row):
    seven_days = max(row['Smoked Last 7 Days'],row['Smoked After 7d'])    
    one_month = max(row['Smoked Last 7 Days 1m'],row['Smoked Last 7 Days 1m'],row['Smoked After 1m'])
    six_month = max(row['Smoked Last 7 Days 6m'],row['Smoked Last 4 Weeks 6m'],row['Smoked After 6m'])
    
    result = min(seven_days,one_month,six_month)
    
    return result
# Terapkan fungsi determine_label untuk setiap baris di dataset
y = data_imputed.apply(determine_label, axis=1)

In [25]:
data_imputed['Stop Smoking'] = y.values

In [26]:
data_imputed.head()

,Cigarettes Per Day,Minutes,Uses Substitutes,Electronic Cigarette Use,Gender,Age,Smoking Interval Years,Depressed,Smokes Other,No Pleasure,Smoked Last 7 Days,Smoked After 7d,Smoked Last 7 Days 1m,Smoked Last 4 Weeks 1m,Smoked After 1m,Smoked Last 7 Days 6m,Smoked Last 4 Weeks 6m,Smoked After 6m,Stop Smoking
0,0.285714,0.004630,2.0,3.0,1.0,0.300000,0.372637,2.0,4.0,2.0,2,1,1,1,2,1,1,3,1
1,0.242857,0.055556,2.0,4.0,2.0,0.366667,0.363955,2.0,4.0,2.0,1,3,1,1,3,1,1,3,1
2,0.142857,0.018519,2.0,1.0,2.0,0.100000,0.109853,1.0,2.0,2.0,1,1,1,1,2,1,1,2,1
3,0.142857,0.055556,2.0,4.0,2.0,0.200000,0.250024,1.0,4.0,2.0,1,2,1,1,3,1,1,3,1
4,0.185714,0.083333,1.0,1.0,1.0,0.683333,0.406217,1.0,3.0,1.0,1,2,1,1,1,1,1,2,1

In [27]:
data_to_training = data_imputed.drop(columns=label_features)
data_to_training.head()

,Cigarettes Per Day,Minutes,Uses Substitutes,Electronic Cigarette Use,Gender,Age,Smoking Interval Years,Depressed,Smokes Other,No Pleasure,Stop Smoking
0,0.285714,0.004630,2.0,3.0,1.0,0.300000,0.372637,2.0,4.0,2.0,1
1,0.242857,0.055556,2.0,4.0,2.0,0.366667,0.363955,2.0,4.0,2.0,1
2,0.142857,0.018519,2.0,1.0,2.0,0.100000,0.109853,1.0,2.0,2.0,1
3,0.142857,0.055556,2.0,4.0,2.0,0.200000,0.250024,1.0,4.0,2.0,1
4,0.185714,0.083333,1.0,1.0,1.0,0.683333,0.406217,1.0,3.0,1.0,1

In [28]:
from imblearn.over_sampling import SMOTE
from sklearn.model_selection import train_test_split

X = data_to_training.drop(columns=['Stop Smoking'])
y = data_to_training['Stop Smoking']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [29]:
# Menggunakan SMOTE untuk mengatasi ketidakseimbangan data dengan k_neighbors yang lebih rendah
smote = SMOTE(random_state=42, k_neighbors=1)
X_resampled, y_resampled = smote.fit_resample(X, y)

# Menggabungkan kembali fitur dan label
data_resampled = pd.concat([pd.DataFrame(X_resampled, columns=X.columns), pd.Series(y_resampled, name='Label')], axis=1)

In [30]:
data_resampled

,Cigarettes Per Day,Minutes,Uses Substitutes,Electronic Cigarette Use,Gender,Age,Smoking Interval Years,Depressed,Smokes Other,No Pleasure,Label
0,0.285714,0.004630,2.0,3.000000,1.000000,0.300000,0.372637,2.0,4.000000,2.0,1
1,0.242857,0.055556,2.0,4.000000,2.000000,0.366667,0.363955,2.0,4.000000,2.0,1
2,0.142857,0.018519,2.0,1.000000,2.000000,0.100000,0.109853,1.0,2.000000,2.0,1
3,0.142857,0.055556,2.0,4.000000,2.000000,0.200000,0.250024,1.0,4.000000,2.0,1
4,0.185714,0.083333,1.0,1.000000,1.000000,0.683333,0.406217,1.0,3.000000,1.0,1
...,...,...,...,...,...,...,...,...,...,...,...
21011,0.165984,0.050059,2.0,3.676223,1.892074,0.069309,0.162252,1.0,1.892074,1.0,3
21012,0.242388,0.031902,2.0,2.606566,1.535522,0.188159,0.378944,1.0,1.535522,1.0,3
21013,0.240658,0.032313,2.0,2.630787,1.543596,0.185468,0.374038,1.0,1.543596,1.0,3
21014,0.217048,0.037924,2.0,2.961334,1.653778,0.148741,0.307075,1.0,1.653778,1.0,3
21015,0.225796,0.035845,2.0,2.838850,1.612950,0.162350,0.331888,1.0,1.612950,1.0,3

In [31]:
data_resampled.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21016 entries, 0 to 21015
Data columns (total 11 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Cigarettes Per Day        21016 non-null  float64
 1   Minutes                   21016 non-null  float64
 2   Uses Substitutes          21016 non-null  float64
 3   Electronic Cigarette Use  21016 non-null  float64
 4   Gender                    21016 non-null  float64
 5   Age                       21016 non-null  float64
 6   Smoking Interval Years    21016 non-null  float64
 7   Depressed                 21016 non-null  float64
 8   Smokes Other              21016 non-null  float64
 9   No Pleasure               21016 non-null  float64
 10  Label                     21016 non-null  int64
dtypes: float64(10), int64(1)
memory usage: 1.8 MB

In [32]:
categorical_features = ['Uses Substitutes', 'Electronic Cigarette Use', 'Gender', 'Depressed', 'Smokes Other', 'No Pleasure']

for i in categorical_features:
    data_resampled[i] = data_resampled[i].astype(int)

In [34]:
from sklearn.preprocessing import OneHotEncoder

# Menginisialisasi OneHotEncoder
encoder = OneHotEncoder(sparse=False)

# Melakukan One-Hot Encoding pada fitur kategori
encoded_features = encoder.fit_transform(data_resampled[['Uses Substitutes', 'Electronic Cigarette Use', 'Gender', 'Depressed', 'Smokes Other', 'No Pleasure']])

# Membuat DataFrame baru dari hasil encoding
encoded_df = pd.DataFrame(encoded_features, columns=encoder.get_feature_names_out(['Uses Substitutes', 'Electronic Cigarette Use', 'Gender', 'Depressed', 'Smokes Other', 'No Pleasure']))

# Menggabungkan DataFrame baru dengan DataFrame asli
df_encoded = pd.concat([data_resampled.drop(columns=['Uses Substitutes', 'Electronic Cigarette Use', 'Gender', 'Depressed', 'Smokes Other', 'No Pleasure']), encoded_df], axis=1)

df_encoded.head()

c:\Users\Asus\anaconda3\envs\py3.11-TF2.0\Lib\site-packages\sklearn\preprocessing\_encoders.py:975: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

,Cigarettes Per Day,Minutes,Age,Smoking Interval Years,Label,Uses Substitutes_1,Uses Substitutes_2,Electronic Cigarette Use_1,Electronic Cigarette Use_2,Electronic Cigarette Use_3,...,Gender_1,Gender_2,Depressed_1,Depressed_2,Smokes Other_1,Smokes Other_2,Smokes Other_3,Smokes Other_4,No Pleasure_1,No Pleasure_2
0,0.285714,0.004630,0.300000,0.372637,1,0.0,1.0,0.0,0.0,1.0,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0
1,0.242857,0.055556,0.366667,0.363955,1,0.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0
2,0.142857,0.018519,0.100000,0.109853,1,0.0,1.0,1.0,0.0,0.0,...,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
3,0.142857,0.055556,0.200000,0.250024,1,0.0,1.0,0.0,0.0,0.0,...,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0
4,0.185714,0.083333,0.683333,0.406217,1,1.0,0.0,1.0,0.0,0.0,...,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0

In [35]:
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
from sklearn.neural_network import MLPClassifier
from sklearn.metrics import accuracy_score, precision_score, recall_score, roc_auc_score, classification_report

# Memisahkan fitur dan label
X = df_encoded.drop('Label', axis=1)
y = df_encoded['Label']

# Membagi dataset menjadi training dan testing set
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Mendefinisikan model yang akan dibandingkan
models = {
    "RandomForest": RandomForestClassifier(random_state=42),
    "GradientBoosting": GradientBoostingClassifier(random_state=42),
    "MLP": MLPClassifier(random_state=42)
}

# Menyimpan hasil evaluasi
model_performance = {}

# Melatih dan mengevaluasi setiap model
for model_name, model in models.items():
    model.fit(X_train, y_train)
    y_pred = model.predict(X_test)
    accuracy = accuracy_score(y_test, y_pred)
    precision = precision_score(y_test, y_pred, average='weighted')
    recall = recall_score(y_test, y_pred, average='weighted')
    roc_auc = roc_auc_score(y_test, model.predict_proba(X_test), multi_class='ovr')
    
    model_performance[model_name] = {
        "accuracy": accuracy,
        "precision": precision,
        "recall": recall,
        "roc_auc": roc_auc,
        "classification_report": classification_report(y_test, y_pred)
    }

# Menampilkan hasil evaluasi
model_performance

c:\Users\Asus\anaconda3\envs\py3.11-TF2.0\Lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:691: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  warnings.warn(

{'RandomForest': {'accuracy': 0.9966698382492863,
  'precision': 0.9966698382492863,
  'recall': 0.9966698382492863,
  'roc_auc': 0.9998248118924866,
  'classification_report': '              precision    recall  f1-score   support\n\n           0       1.00      1.00      1.00      1056\n           1       0.99      0.99      0.99      1051\n           2       1.00      1.00      1.00      1073\n           3       1.00      1.00      1.00      1024\n\n    accuracy                           1.00      4204\n   macro avg       1.00      1.00      1.00      4204\nweighted avg       1.00      1.00      1.00      4204\n'},
 'GradientBoosting': {'accuracy': 0.9933396764985728,
  'precision': 0.9934211091298486,
  'recall': 0.9933396764985728,
  'roc_auc': 0.999699318413029,
  'classification_report': '              precision    recall  f1-score   support\n\n           0       1.00      1.00      1.00      1056\n           1       1.00      0.98      0.99      1051\n           2       0.98      1.00      0.99      1073\n           3       1.00      1.00      1.00      1024\n\n    accuracy                           0.99      4204\n   macro avg       0.99      0.99      0.99      4204\nweighted avg       0.99      0.99      0.99      4204\n'},
 'MLP': {'accuracy': 0.9888201712654615,
  'precision': 0.9890594236861256,
  'recall': 0.9888201712654615,
  'roc_auc': 0.9986949659193618,
  'classification_report': '              precision    recall  f1-score   support\n\n           0       1.00      1.00      1.00      1056\n           1       1.00      0.96      0.98      1051\n           2       0.97      1.00      0.98      1073\n           3       1.00      1.00      1.00      1024\n\n    accuracy                           0.99      4204\n   macro avg       0.99      0.99      0.99      4204\nweighted avg       0.99      0.99      0.99      4204\n'}}

In [23]:
y_pred

array([3., 1., 1., ..., 3., 2., 3.])